aiohttp==3.7.4.post0
aiozk==0.28.0
git+https://github.com/TeskaLabs/asab.git
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
fastjsonschema==2.15.0
idna==2.10
multidict==5.1.0
pydantic==1.8.1
python-on-whales==0.16.0
PyYAML==5.4.1
requests==2.25.1
tqdm==4.60.0
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.4
yarl==1.6.3
